extends layout

block content
	header
		h1= 'Mini Message Board'

	main
		a(href='/new')
			button(id='new-message-btn')= 'New Message'
		h1= title
		section(id='message-board')
			each message in messages
				div(class='message')
					div(class='message-user') #{message.user}
					p(class='message-text') #{message.text}
					div(class='message-added') Added on #{message.added}

	footer
		span= 'Created through '
			a(href='https://www.theodinproject.com')='The Odin Project'
			=' online course.'